<%-include ("../partials/header")%>


<div class="ui grid">
    <div class="fourteen wide centered column">
        <div class="ui four cards">
            <% for(var i=0;i<toilets.length;i++){ %>
                
                <div class="card">
                    <div class="ui image">
                    <img class="indeximg" src="<%= toilets[i].image %>">
                    </div>
                    <div class="content">
                    <a class="header" href="/toilets/<%= toilets[i].id %>"> <%= toilets[i].name %> </a>
                    </div>
 
                    <div class="extra content">
                        <%= toilets[i].address %>
                        <span class="right floated">
                            <% if(toilets[i].type === "Public")  { %> <i class="lock open icon"></i> <% }else{ %> <i class="lock icon"></i><% } %> 
                            <% if(toilets[i].male){ %><i class="male icon"></i><% } %>
                            <% if(toilets[i].female){ %> <i class="female icon"></i> <% } %>
                            <% if(toilets[i].handicap){ %> <i class="handicap icon"></i> <% } %>    
                        </span>   
                    </div>

                </div>
            <% }; %>
        </div>
    </div>
</div>


<%-include ('../partials/footer')%>