<%-include ("../partials/header")%>



    <div id="showToilet" class="ui grid">
        <div class="ten wide column">
            <div>   
                <h1 class="headerName"> <%= toilet.name %> </h1>
                    <div class="rFloat">
                        <i class="star large icon"></i>
                        <i class="star large icon"></i>
                        <i class="star large icon"></i>
                        <i class="star large icon"></i>
                        <i class="star large icon"></i>
                        <span> (<%= toilet.reviews.length %>) </span>
                    </div>      
                <h4 class="headerDesc"> <%= toilet.address %> ·
                                        <%= toilet.type %> ·
                                        <% if(toilet.male){ %>       <i class="male icon"></i><% } %>
                                        <% if(toilet.female){ %>     <i class="female icon"></i> <% } %> 
                                        <% if(toilet.handicap){ %> | <i class="handicap icon"></i> <% } %>
                </h4>   
            </div>
            <br>
                <div>
                    <a href="/toilets/<%=toilet.id%>/reviews/new"> <button id="reviewButton" class="ui button"> Write a Review <i class="pencil alternate icon"></i></button> </a>
                    <button class="ui button"> Add Photo <i class="camera icon"></i></button>
                    <button class="ui button"> Get Directions <i class="arrow alternate circle right icon"></i></button>
                </div>

            <div class="ui clearing divider"></div>

            <div>
                <div class="ui three stackable cards">
                    <div class="ui card">
                        <div class="content">
                        <div class="center aligned header"> Toilets </div>
                        <div class="center aligned ">
                            <img class="ui avatar image" src="/images/toilet.png">
                        </div>
                        </div>
                        <div class="extra content">
                        <div class="center aligned author">
                            <%= toilet.toilet %> toilets
                        </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                        <div class="center aligned header"> Urinals </div>
                        <div class="center aligned ">
                            <img class="ui avatar image" src="/images/urinal.png">
                        </div>
                        </div>
                        <div class="extra content">
                        <div class="center aligned author">
                            <%= toilet.urinal %> urinals
                        </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                        <div class="center aligned header"> Sinks </div>
                        <div class="center aligned ">
                            <img class="ui avatar image" src="/images/sink.png">
                        </div>
                        </div>
                        <div class="extra content">
                        <div class="center aligned author">
                            <%= toilet.sink %> sinks
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2> Amenities </h2>
            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                  <div class="column">
                    <h3> <i class="wifi icon"></i> Wifi </h3>
                    <h3> <i class="music icon"></i> Music </h3>
                    <h3> <i class="trash icon"></i> Trash </h3>
                  </div>
                  <div class="column">
                    <h3> <i class="plug icon"></i> Outlet </h3>
                    <h3> <i class="shower icon"></i> Shower </h3>
                    <h3> <i class="medkit icon"></i> First-aid </h3>
                  </div>
                </div>
           
              </div>
        </div> <!--end of ten wide column -->

        <div class="six wide column">
          <img class="ui fluid image" src="<%=toilet.image%>">
        </div>
    </div> <!-- end of ui grid -->

    <div class="ui clearing hidden divider"></div>
    <div class="ui clearing hidden divider"></div>

    


    <div id="showReview" class="ui grid">
        <div class="sixteen wide column">
            <h1> Customer Reviews <span> (<%= toilet.reviews.length %>) </span> </h1>          
                <div class="ui four stackable cards">
            <% toilet.reviews.forEach(function(review){ %>
                <div class="ui card">
                    <div class="content">
                      <div class="center aligned header"><i class="star large icon"></i> <i class="star large icon"></i> <i class="star large icon"></i><i class="star large icon"></i> <i class="star large icon"></i></div>
                      <div class="center aligned description">
                        <p> <%= review.text %> </p>
                      </div>
                    </div>
                    <div class="extra content">
                      <div class="center aligned author">
                        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> <%= review.author.firstname %>
                      </div>
                    </div>
                  </div>

            <% }) %>

            <!-- ADD REVIEW CARD -->
            <% if(toilet.reviews.length < 4){ %>
                <div class="ui card">
                    <div class="content">
                      <div class="center aligned header">
                          <i class="star large icon"></i> <i class="star large icon"></i> <i class="star large icon"></i><i class="star large icon"></i> <i class="star large icon"></i>
                      </div>
                      <div class="center aligned description">
                          <span> Your review here! </span>
                      </div>
                    </div>
                      <div class="extra content">
                        <div class="center aligned author">
                            <a href="/toilets/<%=toilet.id%>/reviews/new"> <button id="reviewButton" class="ui button"> Write a Review <i class="pencil alternate icon"></i></button> </a>
                        </div>
                    </div>
                  </div>
            <% } %>
        </div>
            

              
        </div> <!-- end of ten wide column-->

        
    </div> <!-- end of ui grid-->

<%-include ("../partials/footer")%>
